{% extends 'base.html' %} 
{% load static %} 

{% block title %}SignLanguage{%endblock %} 
<style>

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.text_input_area {
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #b8b8b8;

}
.chat_profile {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
div[data-sent="true"] > .chat_profile {
  display: none;
}
.opposite_img {
  width: 30px;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  border-radius: 50%;
  margin-right: 12px;
  display: flex;
  cursor: pointer;
}
.receive_message_sender {
  display: block;
  font-size: 12px;
  font-weight: 500;
}
div[data-sent="true"] > div > .receive_message_sender {
  display: none;
}
.message_timestamp {
  display: block;
  color: #454545;
  font-size: 12px;
  margin: 0px 0px 5px 2px;
}
.input_area {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px 15px;
}
.input_form {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}
.submit_btn {
  width: 30px;
  min-width: 30px;
  height: 30px;
  background-color: #8a74ff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 8px;
  opacity: 0.5;
}
.chat_area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.chat_area[data-sent="true"] {
  margin-top: 0;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.chatroom_chat {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 10px;
}
.chat_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
div[data-sent="true"] > div > .chat_content {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.chat_message {
  width: auto;
  height: auto;
  max-width: 190px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 1px #d2d2d2;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  padding: 5px 15px;
  margin: 5px 5px;
  line-break: anywhere;
}
div[data-sent="true"] > div > div > .chat_message {
  background-color: #fef01b;
  color: black;
}


.opposite_profile {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px 15px;
}
.inner-container {
  width: 100%;
  height: 720px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #9bbbd4;
  position: relative;
  right: -100px;
}


* {
  box-sizing: inherit;
}
html,
body,
#root {
  height: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

.chatroom {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  overflow-y: auto;
}

.message-box{
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;  
}

#canvas {
  display: none;
}

</style>
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %} 

{% block content %}
<div class="back-container">
  <div class="container front-container1" style="margin: 0px 300px; max-width: 720px">
    <div class="inner-container">
      <div class="opposite_profile">
        <img
          src="{% static 'assets/dp.png' %}"
          alt=""
          class="opposite_img"
        />
        {{user.username}} 와의 채팅방
      </div>
      <div id="scroll" class="chatroom">
        {% for message in messages %}
        {% if message.sender == request.user.username %}
        <div data-sent="true" class="chat_area">
          <img
            src="{% static 'assets/dp.png' %}"
            alt=""
            class="chat_profile"
          />
          <div class="chatroom_chat">
            <span class="receive_message_sender">{{ message.sender }}</span>
            <div class="chat_content">
              <div class="chat_message">{{message.message}}<br /></div>
              <span class="message_timestamp">{{message.timestamp|date:'A h:i'}}</span>
            </div>
            {% if message.vid_dir %}
            <div class="chat_content">
              <video width="252px" height="141px" class="shadow-sm float-right" style="border-radius:15px;" controls>
                  <source src="{% static message.vid_dir %}" type="video/mp4"> </source> 
              </video>
            </div>
            {% else %}
            {% endif %}

          </div>
        </div>
        {% else %}
        <div data-sent="false" class="chat_area">
          <img
            src="{% static 'assets/dp.png' %}"
            alt=""
            class="chat_profile"
          />
          <div class="chatroom_chat">
            <span class="send_message_sender">{{ message.sender }}</span>
            <div class="chat_content">
              <div class="chat_message">{{message.message}}<br /></div>
              <span class="message_timestamp">{{message.timestamp|date:'A h:i'}}</span>
            </div>
            <div>
                {% if message.vid_dir %}
                <video width="252px" height="141px"class="shadow-sm float-left" style="border-radius:15px;" controls>
                    <source src="{% static message.vid_dir %}" type="video/mp4"> </source> 
                </video>
                {% else %}
                {% endif %}
              </div>
        </div>

        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="message-box">
        <div class="input_form">
            <input
              type="text"
              id="message_input"
              name="text"
              placeholder="메시지를 입력하세요"
              class="text_input_area"
              value=""
            />
            <button class="btn btn-success" id="chat-message-submit" style="white-space: nowrap; height: 100%;">전송</button>

        </div>                    
            {% if user_class == 'patient' %}
              <button class="btn btn-outline-info btnAjax" style="width:80%">수어 번역</button>
            {% elif user_class == 'doctor' %}
              <button class="btn btn-info btnAjax_Avatar" style="width:80%">수어 아바타</button>
            {% else %}
              <input type="button" class="btnAjax" value="수어 통역">
              <input type="button" class="btnAjax_Avatar" value="수어 아바타">
                <!-- <form method="post" action="{% url 'inference' %}">
                    {% csrf_token %}
                    <button class="btn btn-primary">INF</button>
                </form> -->
            {% endif %}
            <button class="btn btn-outline-warning btnRecord" style="width:80%">음성 녹음</button>
            <div>
              <audio controls style="visibility: hidden;">녹음된 소리를 재생할 audio 엘리먼트</audio> 
              <button class="btn btn-outline-warning btnAjax_STT" style="width:20%; visibility: hidden;">음성 인식 처리</button>  
            </div>

        
            <!-- <button class="btn btn-outline-warning btnTest" style="width:80%">이미지테스트</button> -->

      
    </div>
  </div>
</div>
{% if user_class == 'patient' %}
  <!-- <img id="resImg" src="" width="40%" style="border-radius: 20px; margin: 150px -100px"/> -->
  <div>
    <body onload="setSize()">
      <video id="video" style="border-radius: 20px;" onload="setSize()"></video>
      <canvas id="canvas" style="display: none;"></canvas>
      <br>
      <br>
      <button id="toggleStream" onclick="toggleStream()">웹캠 실행</button>
      <button id="slProcess" onclick="slProcessClick()" style="visibility: hidden;">수어 녹화</button>
    </body>  
  </div>  
{% else %}
{% endif %}



{{user.id|json_script:"json-username"}}
{{request.user.username|json_script:"json-message-username"}}
{{user_class|json_script:"json-userclass"}}
{{inference_result|json_script:"json-inference-result"}}

{% endblock %} 
{%block javascript %} 

<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
const id = JSON.parse(document.getElementById('json-username').textContent);
const message_username = JSON.parse(document.getElementById('json-message-username').textContent);
const userclass = JSON.parse(document.getElementById('json-userclass').textContent);
const inference_result = JSON.parse(document.getElementById('json-inference-result').textContent);

const socket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/'
    + id
    + '/'
);

socket.onopen = function(e){
    console.log("CONNECTION ESTABLISHED");
}

socket.onclose = function(e){
    console.log("CONNECTION LOST");
}

socket.onerror = function(e){
    console.log("ERROR OCCURED");
}

socket.onmessage = function(e){
    const data = JSON.parse(e.data);
    
    console.log("Received chat message: " + data.message + " of " + data.username);
    
    if (data.vid_dir){
        if(data.username == message_username){
            document.querySelector('.chatroom').innerHTML += `<div data-sent="true" class="chat_area">
                                                                <img src="/static/assets/dp.png" alt="" class="chat_profile" />
                                                                <div class="chatroom_chat">
                                                                <span class="receive_message_sender">${data.username}</span>
                                                                <div class="chat_content">
                                                                    <div class="chat_message">${data.message}<br /></div>
                                                                </div>
                                                                <div class="chat_content">
                                                                <video width="252px" height="141px" class="shadow-sm float-left" style="border-radius:15px;" controls>
                                                                    <source src="/static/${data.vid_dir}" type="video/mp4"> </source> 
                                                                </video>
                                                                </div>            
                                                            </div>`
        }else{
            document.querySelector('.chatroom').innerHTML += `<div data-sent="false" class="chat_area">
                                                                <img src="/static/assets/dp.png" alt="" class="chat_profile" />
                                                                <div class="chatroom_chat">
                                                                <span class="receive_message_sender">${data.username}</span>
                                                                <div class="chat_content">
                                                                    <div class="chat_message">${data.message}<br /></div>
                                                                </div>
                                                                <video width="252px" height="141px" class="shadow-sm float-left" style="border-radius:15px;" controls>
                                                                    <source src="/static/${data.vid_dir}" type="video/mp4"> </source> 
                                                                </video>
                                                            </div>`
        }

    } else {
        if(data.username == message_username){
            document.querySelector('.chatroom').innerHTML += `<div data-sent="true" class="chat_area">
                                                                <img src="/static/assets/dp.png" alt="" class="chat_profile" />
                                                                <div class="chatroom_chat">
                                                                <span class="receive_message_sender">${data.username}</span>
                                                                <div class="chat_content">
                                                                    <div class="chat_message">${data.message}<br /></div>
                                                                </div>
                                                            </div>`
        }else{
            document.querySelector('.chatroom').innerHTML += `<div data-sent="false" class="chat_area">
                                                                <img src="/static/assets/dp.png" alt="" class="chat_profile" />
                                                                <div class="chatroom_chat">
                                                                <span class="receive_message_sender">${data.username}</span>
                                                                <div class="chat_content">
                                                                    <div class="chat_message">${data.message}<br /></div>
                                                                </div>
                                                            </div>`
        }
    }
    
    // console.log(document.getElementById("scroll").scrollHeight)
    document.getElementById("scroll").scrollTop = document.getElementById("scroll").scrollHeight;    
}

document.querySelector('#chat-message-submit').onclick = function(e){
    const message_input = document.querySelector('#message_input');
    const message = message_input.value;
    console.log(message)

    socket.send(JSON.stringify({
        'message':message,
        'username':message_username
    }));

    message_input.value = '';
}

// document.addEventListener("DOMContentLoaded", () => {
//     console.log(document.getElementById("scroll").scrollHeight)
//     document.getElementById("scroll").scrollTop =
//       document.getElementById("scroll").scrollHeight;
//   });

  if (userclass == 'patient') {
      console.log('patient login')
      // video part 
      const ws = new WebSocket(
          'ws://'
          + window.location.host
          + '/ws/video/'
          + 'wms'
          + '/'
      );
      
      // ws.onmessage = function(evt) {
      //     v_data = JSON.parse(evt.data);
      //     console.log(v_data)
      //     $("#resImg").attr("src", v_data.message);
          // console.log(evt)
          //console.log( "Received Message: " + v_data.message);
          // ws.close();
      // };

    //   ws.send(JSON.stringify({
    //     'message':message,
    //     'username':message_username
    // }));


  // webcam
  let width, height;

  function setSize() {
      if (window.orientation == 0) {
          //portrait
          width = 240; height = 320;
      }
      else {
          //landscape
          width = 320; height = 240;
      }
  }

  const constraints = {
      video: { facingMode: "user", }, audio: false
  };
  const video = document.getElementById("video");

  function successCallback(stream) {
      video.width = width; video.height = height;//prevent Opencv.js error.
      video.srcObject = stream;
      video.play();
  }

  function errorCallback(error) {
      console.log(error);
  }

  let streaming = false;
  function toggleStream() {
      if (streaming === false) {
          navigator.getUserMedia(constraints, successCallback, errorCallback);
          document.getElementById('toggleStream').innerHTML = "Stop";
          document.getElementById('slProcess').style.visibility = 'visible';
        }
      else {
          const stream = video.srcObject;
          const tracks = stream.getTracks();
          tracks.forEach(track => {
              track.stop();
          });
          document.getElementById('toggleStream').innerHTML = "Play";
          document.getElementById('slProcess').style.visibility = 'hidden';
        }
      streaming = !streaming;
  }

  function slProcessClick() {
    slProcess()
}

  function slProcess() {
    if (streaming == true) {
      const context = canvas.getContext("2d");
      if (width && height) {
        canvas.width = width;
        canvas.height = height;
        context.drawImage(video, 0, 0, width, height);
        const data = canvas.toDataURL("image/webp");
        ws.send(JSON.stringify(data));        
        setTimeout(slProcess, 33)
    } else {
      
    };
    }
    else {

    }
  }
      

      ws.onclose = function(evt) {
          console.log("Connection closed.");
      };

      let btnAjax = document.querySelector('.btnAjax');
  
      btnAjax.addEventListener('click', e => {
          let param = {
              'message' : inference_result,
              'username' : message_username
          }
          $.ajax({
              url: '{% url 'inference' %}',
              type: 'POST',
              headers: {
                  'X-CSRFTOKEN': '{{ csrf_token }}'
              },
              data: JSON.stringify(param),
              success: function(data){
                  socket.send(JSON.stringify(
                      data
                  ));
              },
              error: function(){
                  alert('NOPE');
              }
          });
      let btnTest = document.querySelector('.btnTest');

      btnTest.addEventListener('click', e => {
          ws.send(
            JSON.stringify(
            )
          )
          });


          // document.getElementById("scroll").scrollTop = document.getElementById("scroll").scrollHeight;    
        });
  } else if (userclass == 'doctor') {

      let btnAjax_Avatar = document.querySelector('.btnAjax_Avatar');
  
      btnAjax_Avatar.addEventListener('click', e => {
          const message_input = document.querySelector('#message_input');
          const message = message_input.value;

          let param = {
              'message' : message,
              'username' : message_username
          }
          $.ajax({
              url: '{% url 'slavatar' %}',
              type: 'POST',
              headers: {
                  'X-CSRFTOKEN': '{{ csrf_token }}'
              },
              data: JSON.stringify(param),
              success: function(data){
                  socket.send(JSON.stringify(
                      data
                  ));
              },
              error: function(){
                  alert('NOPE');
              }
          });

          message_input.value = '';

          // document.getElementById("scroll").scrollTop = document.getElementById("scroll").scrollHeight;    
      })
  };

  // 음성녹음
    // 엘리먼트 취득
    const $audioEl = document.querySelector("audio");
    const btnRecord = document.querySelector(".btnRecord");
    
    // 녹음중 상태 변수
    let isRecording = false;

    // MediaRecorder 변수 생성
    let mediaRecorder = null;

    // 녹음 데이터 저장 배열
    const audioArray = [];

    btnRecord.onclick = async function (event) {
        if(!isRecording){

            // 마이크 mediaStream 생성: Promise를 반환하므로 async/await 사용
            const mediaStream = await navigator.mediaDevices.getUserMedia({audio: true});

            // MediaRecorder 생성
            mediaRecorder = new MediaRecorder(mediaStream);

            // 이벤트핸들러: 녹음 데이터 취득 처리
            mediaRecorder.ondataavailable = (event)=>{
                audioArray.push(event.data); // 오디오 데이터가 취득될 때마다 배열에 담아둔다.
            }

            // 이벤트핸들러: 녹음 종료 처리 & 재생하기
            mediaRecorder.onstop = (event)=>{
                
                // 녹음이 종료되면, 배열에 담긴 오디오 데이터(Blob)들을 합친다: 코덱도 설정해준다.
                const blob = new Blob(audioArray, {"type": "audio/ogg codecs=opus"});
                audioArray.splice(0); // 기존 오디오 데이터들은 모두 비워 초기화한다.
                
                // Blob 데이터에 접근할 수 있는 주소를 생성한다.
                const blobURL = window.URL.createObjectURL(blob);
                
                console.log(blobURL)

                // audio엘리먼트로 재생한다.
                $audioEl.src = blobURL;
                $audioEl.play();

            }

            // 녹음 시작
            mediaRecorder.start();
            isRecording = true;

        }else{
            // 녹음 종료
            mediaRecorder.stop();
            isRecording = false;
            document.querySelector("audio").style.visibility = 'visible'
            document.querySelector(".btnAjax_STT").style.visibility = 'visible'

            
          }
    }
</script>

{% endblock %}